.App {
  text-align: center;
  background-color: #f8e1f4; /* Light pink background */
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #fff; /* White background for the header */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.login-container {
  display: flex;
  justify-content: space-around; /* This will space out the buttons equally */
  margin-top: 20px;
}

button {
  width: 150px; /* Fixed width for symmetry */
  padding: 10px;
  margin-top: 10px;
  background-color: #000; /* Black background for buttons */
  color: #fff; /* White text for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555; /* Darker background on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-btn {background-color: #555;}
